/*Colour pallette:
#ffd3f5
#f91f77
#00cbd1
#2190cb
#f16a5d
#fcd1ff
#c8f8f8
#e8bceb
#d991de
#8ea5ce
*/

html {
  height: 100%;
  background: #e6ebef;
}

body {
  width: 375px;
    height: 667px;
background: linear-gradient(#e8bceb, #91cfcf);
color: white;
font: 16px/26px "Raleway", sans-serif;
}

.intro-Container {
  text-align: center;
  width: 80%;
  height: 70%;
  margin: auto;
}

.intro-Container-Text1, .intro-Container-Text2, .intro-Container-Text3 {
  font-size: 1.5rem;
      position: absolute;
      margin: 0 auto;
      opacity: 0;
}

.intro-Container-Text1 {
  top: 35vh;
  left: 18%;
}

.intro-Container-Text2 {
  top: 48vh;
  left: 8%;
}

.intro-Container-Text3 {
  top: 60vh;
      left: 4%;
      width: 90%;
}

@keyframes highlight {
    0% {background: white; transform-origin: left; transform :scaleX(0); visibility: hidden;}
    45% {transform-origin: left;}
50% {background: white; transform: scaleX(1); visibility: visible;}
55% {transform-origin: right;}
100% {background: white; transform-origin: right; transform: scaleX(0); visibility: hidden;}
}

.intro-Container-Text1:before, .intro-Container-Text2:before, .intro-Container-Text3:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
}

.intro-Container-Text1::before {
    animation: highlight 0.5s ease-in-out 0.2s;
}

.intro-Container-Text2::before {
    animation: highlight 0.5s ease-in-out 1.2s;
}

.intro-Container-Text3::before {
    animation: highlight 0.5s ease-in-out 2.1s;
}

.intro-Container-Heading {
  width: 119%;
  margin: 0 auto;
  font-size: 2rem;
  margin-left: -9%;
}

.menu-item, .menu-open-button {
  background-color: white;
  border-radius: 100%;
  box-sizing: border-box;
  cursor: pointer;
  height: 75px;
  line-height: 80px;
  margin-bottom: 0px;
  margin-left: -55px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  position: absolute;
  text-align: center;
  top: 0px;
  transform: matrix(1.2, 0, 0, 1.2, 0, 0);
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  width: 75px;
  z-index: 2;
}

.menu {
  position: absolute;
      height: 15%;
      box-sizing: border-box;
      font-size: 35px;
      text-align: center;
      width: 100%;
      bottom: 0;
}

.nextButton {
  opacity: 0;
  text-align: center;
  margin-top: 54vh;
}

.memButton {
  font: "Raleway", sans-serif;
  font-size: 2rem;
      color: white;
      letter-spacing: 0.3rem;
      background: #8ea5ce;
      border-radius: 4%;
      font-weight: 100;
}

input {
    border: none;
    background-color: rgba(255, 255, 255, 0);
}
