/*Colour pallette:
#ffd3f5
#f91f77
#00cbd1
#2190cb
#f16a5d
#fcd1ff
#c8f8f8
#e8bceb
#8ea5ce
*/

html {
  height: 100%;
}

body {
margin: 0;
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
background: linear-gradient(#e8bceb, #91cfcf);
color: #666;
font: 16px/26px "Raleway", sans-serif;
}
svg{
  display: block;
  margin: auto;
  width: 100%;
  height:100%;
}
/*circle {
  background-color: white;
}*/
.node {
stroke: #fff;
stroke-width: 1.5px;
}
.node-active {
stroke: #fff;
stroke-width: 1.5px;
}
.link {
stroke: #fff;
stroke-opacity: .3;
}
.link-active {
stroke: black;
stroke-opacity: 1;
}
.overlay {
fill: none;
pointer-events: all;
}
#anid {
stroke: #fff;
stroke-width: 11.5px;
}
#map {
/*border: 2px #333333 dashed;*/
/*width: 600px;
height: 600px;*/
width: 100%;
height: 100%;
background: linear-gradient(#e8bceb, #91cfcf);
/*background-image: -webkit-radial-gradient(80% 10%, circle, #e8bceb, transparent),  -webkit-radial-gradient(80% 50%, circle, #c8f8f8, transparent),  -webkit-radial-gradient(20% 80%, 40em 40em, #91cfcf, transparent),  -webkit-radial-gradient(10% 10%, circle, #91cfcf, transparent);*/
}

/*button {
position: absolute;
width: 40px;
height: 30px;
}
button#reset {
margin-top: 30px;
margin-left: 11px;
}*/

/*Navigation*/

.menu {
  -webkit-filter: url("#shadowed-goo");
          filter: url("#shadowed-goo");
}

.menu-item, .menu-open-button {
  background-color: #8ea5ce;
  border-radius: 100%;
  width: 75px;
  height: 75px;
  margin-left: -40px;
  position: absolute;
  /*top: 20px;*/
  color: white;
  text-align: center;
  line-height: 80px;
  /*-webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-out 200ms;
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;*/
}

.menu-open {
  display: none;
}

.hamburger {
  width: 37px;
  height: 7px;
  background-color: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -18.5px;
  margin-top: -1.5px;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.hamburger-1 {
  -webkit-transform: translate3d(0, -10px, 0);
          transform: translate3d(0, -10px, 0);
}

.hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.hamburger-3 {
  -webkit-transform: translate3d(0, 10px, 0);
          transform: translate3d(0, 10px, 0);
}

.menu-open:checked + .menu-open-button .hamburger-1 {
  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
          transform: translate3d(0, 0, 0) rotate(45deg);
}
.menu-open:checked + .menu-open-button .hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
          transform: translate3d(0, 0, 0) scale(0.1, 1);
}
.menu-open:checked + .menu-open-button .hamburger-3 {
  -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
          transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu {
  position: absolute;
      height: 15%;
      box-sizing: border-box;
      font-size: 35px;
      text-align: center;
      width: 100%;
      bottom: 0;
}

.menu-item:hover {
  background-color: white;
  color: #ff4081;
}
#pencil {
  /*-webkit-transition-duration: 70ms;
          transition-duration: 70ms;*/
}
.menu-item:nth-child(4) {
  /*-webkit-transition-duration: 130ms;
          transition-duration: 130ms;*/
}
.menu-item:nth-child(5) {
  /*-webkit-transition-duration: 190ms;
          transition-duration: 190ms;*/
}
.menu-item:nth-child(6) {
  /*-webkit-transition-duration: 250ms;
          transition-duration: 250ms;*/
}
.menu-item:nth-child(7) {
  /*-webkit-transition-duration: 310ms;
          transition-duration: 310ms;*/
}

.menu-open-button {
  background-color: #8ea5ce;
  z-index: 2;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
          transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}
.menu-open-button.active {
    background-color: #8ea5ce;
}

.menu-open-button:hover {
  -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
          transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
          transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item.normal {
  -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
          transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}
.menu-open:checked ~ #pencil.normal {
  -webkit-transition-duration: 260ms;
          transition-duration: 260ms;
  -webkit-transform: translate3d(-140.42548px, -12.48084px, 0);
          transform: translate3d(-140.42548px, -12.48084px, 0);
}

.menu-open:checked ~ #camera.normal {
  -webkit-transition-duration: 440ms;
          transition-duration: 440ms;
  -webkit-transform: translate3d(-97.18543px, -95.2491px, 0);
          transform: translate3d(-97.18543px, -95.2491px, 0);
}
.menu-open:checked ~ #microphone.normal {
  -webkit-transition-duration: 620ms;
          transition-duration: 620ms;
  -webkit-transform: translate3d(-0.09158px, -135.99996px, 0);
          transform: translate3d(-0.09158px, -135.99996px, 0);
}
.menu-open:checked ~ #clock.normal {
  -webkit-transition-duration: 800ms;
          transition-duration: 800ms;
  -webkit-transform: translate3d(97.04956px, -95.37192px, 0);
          transform: translate3d(97.04956px, -95.37192px, 0);
}
.menu-open:checked ~ #cog.normal {
  -webkit-transition-duration: 1080ms;
          transition-duration: 1080ms;
  -webkit-transform: translate3d(140.40705px, -12.66307px, 0);
          transform: translate3d(140.40705px, -12.66307px, 0);
}

@keyframes pencil {
  0% {transform: translate3d(-140.42548px, -12.48084px, 0); -webkit-transform: translate3d(-140.42548px, -12.48084px, 0); background-color: #8ea5ce; color: white;}
    50% {transform: translate3d(-3.42548px, -274.48084px, 0); -webkit-transform:translate3d(-3.42548px, -274.48084px, 0); width: 75px; height: 75px; background-color: white; color: #ff4081;}
    100% {transform:translate3d(-142px, -452px, 0); -webkit-transform:translate3d(-142px, -452px, 0); width: 97vw; height: 80vh;}
}

@keyframes camera {
  0% {transform: translate3d(-97.18543px, -95.2491px, 0); -webkit-transform:translate3d(-97.18543px, -95.2491px, 0); background-color: #8ea5ce; color: white;}
    50% {transform:translate3d(0.81457px, -275.2491px, 0); -webkit-transform:translate3d(0.81457px, -275.2491px, 0); width: 75px; height: 75px; background-color: white; color: #ff4081;}
    100% {transform: translate3d(-142px, -452px, 0); width: 97vw; height: 80vh; -webkit-transform:translate3d(-142px, -452px, 0);}
}

@keyframes microphone {
  0% {transform: translate3d(-0.09158px, -135.99996px, 0); -webkit-transform:translate3d(-0.09158px, -135.99996px, 0); background-color: #8ea5ce; color: white;}
    50% {transform:translate3d(-0.09158px, -255.99996px, 0); -webkit-transform:translate3d(-0.09158px, -255.99996px, 0); width: 75px; height: 75px; background-color: white; color: #ff4081;}
    100% {transform: translate3d(-142px, -452px, 0); -webkit-transform:translate3d(-142px, -452px, 0); width: 97vw; height: 80vh;}
}

@keyframes clock {
  0% {transform: translate3d(97.04956px, -95.37192px, 0); -webkit-transform:translate3d(97.04956px, -95.37192px, 0); background-color: #8ea5ce; color: white;}
    50% {transform:translate3d(1.04956px, -271.37192px, 0); -webkit-transform:translate3d(1.04956px, -271.37192px, 0); width: 75px; height: 75px; background-color: white; color: #ff4081;}
    100% {transform: translate3d(-142px, -452px, 0); -webkit-transform:translate3d(-142px, -452px, 0); width: 97vw; height: 80vh;}
}

@keyframes cog {
  0% {transform: translate3d(140.40705px, -12.66307px, 0); -webkit-transform:translate3d(140.40705px, -12.66307px, 0); background-color: #8ea5ce; color: white;}
    50% {transform:translate3d(1.04956px, -271.37192px, 0); -webkit-transform:translate3d(1.04956px, -271.37192px, 0); width: 75px; height: 75px; background-color: white; color: #ff4081;}
    100% {transform: translate3d(-142px, -452px, 0); -webkit-transform:translate3d(-142px, -452px, 0); width: 97vw; height: 80vh;}
}

.menu-open:checked ~ #pencil.wipe {
  animation: pencil 1s ease-in-out;
  -webkit-animation: pencil 1s ease-in-out;
}

.menu-open:checked ~ #pencil.wipe.finished {
  -webkit-transform: translate3d(-142px, -452px, 0);
  transform: translate3d(-142px, -452px, 0);
  width: 97vw;
  height: 80vh;
  background-color: white; color: #ff4081;
}

.menu-open:checked ~ #camera.wipe {
  animation: camera 1s ease-in-out;
  -webkit-animation: camera 1s ease-in-out;
}

.menu-open:checked ~ #camera.wipe.finished {
  -webkit-transform: translate3d(-142px, -452px, 0);
  width: 97vw;
  height: 80vh;
  transform: translate3d(-142px, -452px, 0);
  background-color: white; color: #ff4081;
}

.menu-open:checked ~ #microphone.wipe {
  animation: microphone 1s ease-in-out;
  -webkit-animation: microphone 1s ease-in-out;
}

.menu-open:checked ~ #microphone.wipe.finished {
    -webkit-transform: translate3d(-142px, -452px, 0);
  transform: translate3d(-142px, -452px, 0);
  width: 97vw;
  height: 80vh;
  background-color: white; color: #ff4081;
}

.menu-open:checked ~ #clock.wipe {
  animation: clock 1s ease-in-out;
    -webkit-animation: clock 1s ease-in-out;
}

.menu-open:checked ~ #clock.wipe.finished {
      -webkit-transform: translate3d(-142px, -452px, 0);
  transform: translate3d(-142px, -452px, 0);
  width: 97vw;
  height: 80vh;
  background-color: white; color: #ff4081;
}

.menu-open:checked ~ #cog.wipe {
  animation: cog 1s ease-in-out;
  -webkit-animation: cog 1s ease-in-out;
}

.menu-open:checked ~ #cog.wipe.finished {
  -webkit-transform: translate3d(-142px, -452px, 0);
  transform: translate3d(-142px, -452px, 0);
  width: 97vw;
  height: 80vh;
  background-color: white;
  color: #ff4081;
}

.hamburger.active {
  background-color: white;
}

.fa {
  line-height: 1.5;
}
.modal {
  display: none;
}

@keyframes modal {
  0% {height: 0%; width: 0%; top: 48%; left: 43%; border-radius: 100%;}
    50% {height: 5%; width: 9%; top: 48%; left: 43%; border-radius: 10%;}
    75% {height: 70%; width: 9%; top: 10%; left: 43%; border-radius: 10%;}
    100% {height: 70%; width: 80%; top: 10%; left: 10%; border-radius: 10%;}
}

.modal.show {
  animation: modal 1.5s ease-in-out;
  background-color: white;
  height: 70%;
  width: 80%;
  top: 10%;
  left: 10%;
  position: absolute;
  margin: 0 auto;
  display:block;
  border-radius: 10%;
}

.modal .memoryText, .close {
  display:none;
}

.modal .memoryText.show, .close.show {
  display:block;
  width: 80%;
    margin: 0 auto;
    margin-top: 9%;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-weight: 300;
}

.container {
	max-width: 600px;
	margin: 0 auto;
	padding: 80px 0;
	height: 400px;
	text-align: center;
}

form {
	padding: 20px 0;
	position: relative;
	z-index: 2;
}

input.input {
  display: block;
  appearance: none;
  outline: 0;
  border: 1px solid fade(white, 40%);
  background-color: fade(white, 20%);
  width: 250px;
-webkit-appearance: none;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: left;
  font-size: 18px;

  color: white;

  transition-duration: 0.25s;
  font-weight: 300;
}

input.input:hover{
  background-color: fade(white, 40%);
}

input.input:focus{
  background-color: white;
  width: 300px;
}

input.button {
  text-align: center;
}

a {
  color: #666;
  text-decoration: none;
}

a:hover {
  color: #8ea5ce;
}

input {
  font: 16px/26px "Raleway", sans-serif;
}

.form-wrap {
  background-color: #fff;
  width: 320px;
  margin: 3em auto;
  box-shadow: 0px 1px 8px #BEBEBE;
  -webkit-box-shadow: 0px 1px 8px #BEBEBE;
  -moz-box-shadow: 0px 1px 8px #BEBEBE;
}

.form-wrap .tabs {
  overflow: hidden;
}

.form-wrap .tabs h3 {
  float: left;
  width: 50%;
}

.form-wrap .tabs h3 a {
  padding: 0.5em 0;
  text-align: center;
  font-weight: 400;
  background-color: #e6e7e8;
  display: block;
  color: #666;
}

.form-wrap .tabs h3 a.active {
  background-color: #fff;
}

.form-wrap .tabs-content {
  padding: 1.5em;
}

.form-wrap .tabs-content div[id$="tab-content"] {
  display: none;
}

.form-wrap .tabs-content .active {
  display: block !important;
}

.form-wrap form .input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  padding: .8em 0 10px .8em;
  border: 1px solid #CFCFCF;
  outline: 0;
  display: inline-block;
  margin: 0 0 .8em 0;
  padding-right: 2em;
  width: 100%;
}

.form-wrap form .button {
  width: 100%;
  padding: .8em 0 10px .8em;
  background-color: #8ea5ce;
  border: none;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}

.form-wrap form .button:hover {
  background-color: #8ea5ce;
}

.form-wrap form .checkbox {
  visibility: hidden;
  padding: 20px;
  margin: .5em 0 1.5em;
}

.form-wrap form .checkbox:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

.form-wrap form label[for] {
  position: relative;
  padding-left: 20px;
  cursor: pointer;
}

.form-wrap form label[for]:before {
  content: '';
  position: absolute;
  border: 1px solid #CFCFCF;
  width: 17px;
  height: 17px;
  top: 0px;
  left: -14px;
}

.form-wrap form label[for]:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background-color: transparent;
  top: 4px;
  left: -10px;
  border: 3px solid #28A55F;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.form-wrap .help-text {
  margin-top: .6em;
}

.form-wrap .help-text p {
  text-align: center;
  font-size: 14px;
}

.app-title {
  text-align: center;
  margin: 1em;
  font-size: 5em;
  font-family: 'Lato', cursive;
  font-weight: bold;
  color: #8ea5ce;
}

.modal-content {
  font-family: 'Lato', sans-serif;
}

.close {
  font-size: 20px;
}

.post{
	position:relative;
  margin:1.5em;
	padding:10px 20px;
	background:#f8f8f8;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:5px;
	width:auto;
	border:1px solid #e8e8e8;
	margin-bottom:20px;
  text-align:center;
	}

.tags{
	margin:0;
	padding:0;
	position:absolute;
	right:24px;
	bottom:-14px;
	list-style:none;
	}
.tags li, .tags a{
	float:left;
	height:26px;
	line-height:24px;
	position:relative;
	font-size:14px;
	}
.tags a{
	margin-left:20px;
	padding:0 10px 0 12px;
	background:#0089e0;
	color:#fff;
	text-decoration:none;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;
	border-top-right-radius:4px;
	}
.tags a:before{
	content:"";
	float:left;
	position:absolute;
	top:0;
	left:-12px;
	width:0;
	height:0;
	border-color:transparent #0089e0 transparent transparent;
	border-style:solid;
	border-width:12px 12px 14px 0;
	}
.tags a:after{
	content:"";
	position:absolute;
	top:10px;
	left:0;
	float:left;
	width:4px;
	height:4px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background:#fff;
	-moz-box-shadow:-1px -1px 2px #004977;
	-webkit-box-shadow:-1px -1px 2px #004977;
	box-shadow:-1px -1px 2px #004977;
	}

.tags a:hover{background:#555;}
.tags a:hover:before{border-color:transparent #555 transparent transparent;}

/* Pure CSS Post Tags */

.post{
  font-family: 'lato', sans-serif;
	position:relative;
	padding:10px 20px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:5px;
	width:auto;
  left:
	margin: auto;
  text-align:center;
	}

.tags{
  display: none;
	margin:0;
	padding:0;
  position:relative;
  right:100%;
  bottom:300%;
	list-style:none;
	}
.shownTag{
    display: block;
  	margin:0;
  	padding:0;
  	position:relative;
  	right:100%;
  	bottom:300%;
  	list-style:none;
  	}
.tags li, .tags a{
	float:left;
	height:26px;
	line-height:24px;
	position:relative;
	font-size:14px;
	}
.tags a{
	margin-left:20px;
	padding:0 10px 0 12px;
	background: white;
	color:#8ea5ce;
  border-radius: 2px;
  border-color: #8ea5ce;
	text-decoration:none;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;
	border-top-right-radius:4px;
	}
.tags a:before{
	content:"";
	float:left;
	position:absolute;
	top:0;
	left:-12px;
	width:0;
	height:0;
	border-color:transparent white transparent transparent;
	border-style:solid;
	border-width:12px 12px 14px 0;
	}
.tags a:after{
	content:"";
	position:absolute;
	top:10px;
	left:0;
	float:left;
	width:4px;
	height:4px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background: #8ea5ce;
	-moz-box-shadow:-1px -1px 2px #004977;
	-webkit-box-shadow:-1px -1px 2px #004977;
	box-shadow:-1px -1px 2px #004977;
	}

.tags a:hover{background:white;}
.tags a:hover:before{border-color:transparent white transparent transparent;}

#content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .1s linear 0;
  -moz-transition: all .1s linear 0;
  transition: all .1s linear 0;
  position: absolute;
  height: 50px;
  width: 300px;
  margin-left: 170px;
  top: 10%;
  left: 85%;
  transform: translate(-50%, -50%);
}

#content.on {
  -webkit-animation-name: in-out;
  animation-name: in-out;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.searchBar{  box-sizing: border-box;
  position: absolute;
  top: 5%;
  width: 50px;
  height: 50px;
  border: 4px solid white;
  border-radius: 50%;
  background: none;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.search {
  background: none;
  position: absolute;
  top: 0px;
  left: 0;
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 100%;
  outline: 0;
  border: 0;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.search:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: 26px;
  margin-left: 17px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.closeSearch {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.closeSearch:before {
  content: "";
  position: absolute;
  width: 27px;
  height: 4px;
  margin-top: -1px;
  margin-left: -13px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.closeSearch:after {
  content: "";
  position: absolute;
  width: 27px;
  height: 4px;
  background-color: #fff;
  margin-top: -1px;
  margin-left: -13px;
  cursor: pointer;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.square {
  box-sizing: border-box;
  padding: 0 40px 0 10px;
  width: 300px;
  height: 50px;
  border: 4px solid #FFFFFF;
  border-radius: 0;
  background: none;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
  -webkit-transition-delay: 0.4s, 0s, 0.4s;
  transition-delay: 0.4s, 0s, 0.4s;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.video {
  display: none;
  background: #000;
  width: 70%;
  margin: 2em 15% 0.5em 15%;
  position: absolute;
  top: -415%;
  right: 0;
}

/*Settings*/

.settings {
  display:none;
}

.settings.active {
  display: flex;
  width: 100%;
  height: 52%;
  align-items: center;
  top: 0;
  position: absolute;
  flex-direction: column;
  margin-top: 35%;
}

.settings.active > a {
  color: #666;
text-decoration: none;
width: 100%;
align-self: center;
text-align: center;
flex: 1;
}

.settings.active > h1 {
flex: 1.2;
}

circle.calm {
    opacity: 1;
}

.node.calm {
  stroke: white;
  stroke-width: 9.5px;
  opacity: 1;
}

#map.night {
  background: linear-gradient(#0b0531, #006287, #006287, #f91f77);
}

circle.night {
    opacity: 0.4;
}

.node.night {
    stroke: white;
  stroke-width: 18.5px;
  opacity: 0.5;
}

.menu-open:checked + .menu-open-button.night, .menu-item.night, .menu-open-button.night {
    background-color: #0b0531;
  }


#map.bright {
  background: linear-gradient(#f91f77, #ffe346);
}

circle.bright {
    opacity: 0.4;
}

.node.bright {
  stroke: #ffd1c4;
  stroke-width: 23.5px;
  opacity: 0.5;
}

.menu-open:checked + .menu-open-button.bright, .menu-item.bright, .menu-open-button.bright {
    background-color: #f91f77;
  }

#map.zen {
  background: linear-gradient(#9DAFD3, #c8f8f8);
}

circle.zen {
    opacity: 0.4;
}

.node.zen {
  stroke: #fdacab;
  stroke-width: 35.5px;
  opacity: 0.5;
}
